<%= render 'shared/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-md-12 well">
      <span class="center"><h3><%= @blog.title %></span></h3>
      <hr>
      <%= @blog.body %>
    </div>
  </div>
</div>
<div class="center">
  <% if current_user.admin? %>
    <%= link_to 'Edit', edit_blog_path(@blog), class: 'btn btn-sm btn-primary' %> |
  <% end %>
  <%= link_to 'Back', blogs_path, class: 'btn btn-sm btn-primary' %>
</div>
