<div class="container">
  <div class="row">
    <h3 class="center">Account Overview: <%= current_user.username? ? current_user.username : current_user.email %></h3>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <section id="acct_overview" class="well">
                <div class="field">
                  <%= f.label :username %>
                  <%= f.text_field :username %>
                </div>
                <div class="field">
                  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                  <%= f.password_field :password, autocomplete: "off" %>
                </div>
                <div class="field">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off" %>
                </div>
                <div class="field">
                  <%= f.label :email %>
                  <%= f.text_field :email %>
                </div>
            </section>
        </div> <!-- Account Overview -->
        <div class="col-md-6">
          <article id="bio" class="well">
            <h3>About Yourself</h3>
            <div class="field">
              <%= f.label :bio %>
              <%= f.text_area :bio, cols: '70', rows: '10' %>
            </div>
          </article>
        </div> <!-- End Bio -->
      </div>
    </div>

    <div class="row">
      <div id="public_bio" class="col-md-6 well">
        <h3>Bio:</h3>
        <span id="public" class: "well">This information will be shown on public profile page.</span>
        <div class="field">
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </div>
        <div class="field">
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </div>
        <div class="field">
          <%= f.label :location %>
          <%= f.text_field :location %>
        </div>
        <div class="field">
          <%= f.label :website %>
          <%= f.text_field :website %>
        </div>
        Add Gravatar
      </div><!-- End Account Bio Info -->
      <div class="col-md-6">
        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Update" %>
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to "Back", :back %>
</div>
