<tr>
  <td><%= trade_log.trade_opened_at %></td>
  <td><%= trade_log.symbol %></td>
  <td><%= trade_log.entry_price %></td>
  <td><%= trade_log.position_size %></td>
  <td><%= trade_log.stop %></td>
  <td><%= trade_log.exit_one_on %></td>
  <td><%= trade_log.exit_one_price %></td>
  <td><%= trade_log.exit_one_shares %></td>
  <td><%= trade_log.exit_two_on %></td>
  <td><%= trade_log.exit_two_price %></td>
  <td><%= trade_log.exit_two_shares %></td>
  <td><%= trade_log.exit_three_on %></td>
  <td><%= trade_log.exit_three_price %></td>
  <td><%= trade_log.exit_three_shares %></td>
  <td><%= weighted_avg(trade_log) %></td>
</tr>
