<%= render 'shared/navbar' %>
<div class="container">
  <div class="row">
    <section class="col-md-8">
      <%= render @chirps %>
      <%= link_to 'Back', chirps_timeline_path, class: 'btn btn-sm btn-primary' %>
    </section>
    <aside class="col-md-4">
      <section id='public_bio' class="well">
        <h3>Bio:</h3>
        <table>
          <tr>
            <td>First Name: <%= current_user.first_name %></td>
          </tr>
          <tr>
            <td>Last Name: <%= current_user.last_name %></td>
          </tr>
          <tr>
            <td>Location: <%= current_user.location %></td>
          </tr>
          <tr>
            <td>Website: <%= current_user.website%></td>
          </tr>
          <tr>
            <td>Bio: <%= current_user.bio %></td>
          </tr>
        </table>
      </section>
    </aside>
  </div>
</div>
